<!DOCTYPE html>
<html lang="en">
<head>
    <link th:href="@{/css/style.css}" rel="stylesheet" />
    <html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"></html>
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet" />
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script
    th:src="@{/js/fa.js}"
    data-auto-a11y="true"
  ></script>
  <link rel="stylesheet" th:href="@{/js/fa.css}">
  <title>opportunities</title>
</head>
    
<body>
    <div class="container wweww">
        <nav class="navbar navbar-expand-lg navbar-light navigation" >
            <img src="/images/ESA.png"   alt="Logo" width="20%" height="20%"  class="d-inline-block align-top navbar-brand" /><span class="hidden">EthioStudents Aid</span></a> 
           
        <button
            class="navbar navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#toggleMobileMenu"
            aria-controls="toggleMobileMenu"
            aria-expanded="false"
            aria-label="Toggle navigation"
            >
        <span class="navbar-toggler-icon"></span>
            </button>
        <div class="collapse navbar-collapse" id="toggleMobileMenu">
            <ul class="navbar-nav ms-auto text-center">
                <li>
                    <a class="nav-link" th:href="@{/opportunities}">Opportunities</a>
                </li>
                <li>
                    <a class="nav-link" th:href="@{/providehelp}">Provide Help</a>
                </li>
                <li>
                    <a class="nav-link" th:href="@{/addForm}">Ask for help</a>
                </li>
                <li>
                    <a class="nav-link" th:href="@{/donation}">Support us</a>
                </li>
                <li>
                    <a class="nav-link" th:href="@{/Frontpage}">Home</a>
                </li>
            </ul>
        </div>
        </nav>
    </div>

<div class="container">
    <div class="container bg-light" style="color: rgb(124, 156, 145);">
        <div class="row ">
            <div class="col-md-8">
                <h1 class="heading mb-4">Africa to Silicon Valley</h1>
                <p class="mb-4 lead">A2SV upskills high-potential university students, connects them with opportunities at the world’s top tech companies, and create digital solutions to urgent problems in their home countries together. The program is free for students, making the opportunity available for youth who have talent but lack the means to use it.</p>
            </div>
            <div class="col-md-8">
                <img src="/images/a2sv.png" class="img-responsive" style="width: 50vw; height: 50vh;">
                <p class="mb-0">
                    <a href="#" class="btn btn-primary mt-3" style=" background-color: #81dacb !important;">click to Apply</a>
                </p>
            </div>
        </div>
    </div>

    <div class="container bg-light mt-5" style="color: rgb(124, 156, 145);">
        <div class="row ">
            <div class="col-md-8">
                <h1 class="heading mb-4">Study In Poland</h1>
                <p class="mb-4 lead">POLAND GOVERNMENT SCHOLARSHIPS & GRANTS For U.S. College And University Students: Apply Now Are you pursuing an undergraduate or graduate degree?</p>
            </div>
            <div class="col-md-8">
                <img src="/images/poland.png" class="img-responsive" style="width: 50vw; height: 50vh;">
                <p class="mb-0">
                    <a href="#" class="btn btn-primary mt-3" style=" background-color: #81dacb !important;">click to Apply</a>
                </p>
            </div>
        </div>
    </div>

    <div class="container bg-light mt-5" style="color: rgb(124, 156, 145);">
        <div class="row ">
            <div class="col-md-8">
                <h1 class="heading mb-4">Canada HighSchool Scholarship</h1>
                <p class="mb-4 lead">Up to $70,000 per year CANADA Government scholarships, Fellowships, awards and bursaries for Undergraduate, graduate, doctoral and post-doctoral Students : Apply Online Now for 2022-2023 Banting Postdoctoral Fellowships The Banting Postdoctoral Fellowships program provides funding.</p>
            </div>
            <div class="col-md-8">
                <img src="/images/canada.png" class="img-responsive" style="width: 50vw; height: 50vh;">
                <p class="mb-0">
                    <a href="#" class="btn btn-primary mt-3" style=" background-color: #81dacb !important;">click to Apply</a>
                </p>
            </div>
        </div>
    </div>

    <div class="container bg-light mt-5" style="color: rgb(124, 156, 145);">
        <div class="row ">
            <div class="col-md-8">
                <h1 class="heading mb-4">Study in China</h1>
                <p class="mb-4 lead">Depending on where you live, you may be able to get your study permit faster through the Student Direct Stream (SDS). Government of Canada try to process most SDS applications within 20 calendar days</p>
            </div>
            <div class="col-md-8">
                <img src="/images/china.png" class="img-responsive" style="width: 50vw; height: 50vh;">
                <p class="mb-0">
                    <a href="#" class="btn btn-primary mt-3" style=" background-color: #81dacb !important;">click to Apply</a>
                </p>
            </div>
        </div>
    </div>

    <div class="container bg-light mt-5" style="color: rgb(124, 156, 145);">
        <div class="row ">
            <div class="col-md-8">
                <h1 class="heading mb-4">Study in India</h1>
                <p class="mb-4 lead">The Elizabeth Greenshields Foundation Grant, 2021
                    Bachelors, Other partial Funding Arts (painting, drawing, sculpture or paintmaking, Open to all nationals for Any university/institution across the world</p>
            </div>
            <div class="col-md-8">
                <img src="/images/india.png" class="img-responsive" style="width: 50vw; height: 50vh;">
                <p class="mb-0">
                    <a href="#" class="btn btn-primary mt-3" style=" background-color: #81dacb !important;">click to Apply</a>
                </p>
            </div>
        </div>
    </div>
</div>
<footer class="page-footer bg-dark">
    <div class="bg-success">
        <div class="container">
            <div class="row py-4 d-flex align-items-center">
                <div class="col-md-12 text-center containeru">
                    <a href="#"><i class="fab fa-facebook-f text-white mr-20" style="margin-right: 20px;" ></i></a>
                    <a href="#"><i class="fab fa-twitter text-white mr-20" style="margin-right: 20px;"></i></a>
                    <a href="#"><i class="fab fa-linkedin text-white mr-20" style="margin-right: 20px;" ></i></a>
                    <a href="#"><i class="fab fa-github" ></i></a>
                </div>
            </div>
        </div>
    </div>
<div class="container text-center text-md-left mt-5">
<div class="row">
<div class="col-md-3 mx-auto mb-4">
    <h6 class="text-white text-uppercase font-weight-bold">About Us</h6>
    <hr class="bg-success mb-4 mt-0 d-inline-block mx-auto" style="width: 125px;" height="2px">
    <p class="mt-2 text-white">We are a non-profit and non-governmental organization here solely for the purpose of helping young as well as adult ethiopian students through a means of providing help with answers to different types of questions raised by students. our other purpose here is to help students get informed about different kinds of opportunities that comes their way and make sure that they don't miss it.  </p>
</div>
<div class="col-md-2 mx-auto mb-4">
    <h6 class="text-white text-uppercase font-weight-bold ">Contacts</h6>
    <hr class="bg-success mb-4 mt-0 d-inline-block mx-auto" style="width: 85px;" height="2px">
    
<ul class="list-unstyled text-white">
    <li class="my-2"><i class="fa fa-home mr-3"></i>AddisAbaba, Ethiopia</li>
    <li class="my-2"><i class="fa fa-envelope mr-3"></i>ESA@gmail.com</li>
    <li class="my-2"><i class="fa fa-phone mr-3"></i>+251973004627</li>
    <li class="my-2"><i class="fa fa-print mr-3"></i>+0114331452</li>
</ul>


</div>
</div>
</div>
</footer>
</body>
</html>