<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <link th:href="@{/css/style.css}" rel="stylesheet" />
        <html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"></html>
        <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet" />
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Welcome</title>
        <script
        th:src="@{/js/fa.js}"
        data-auto-a11y="true"
      ></script>
      <link rel="stylesheet" th:href="@{/js/fa.css}">
    </head>
    <body>
        <div class="container">
        <div class="container wweww">
            <nav class="navbar navbar-expand-lg navbar-light navigation" >
                <img src="/images/ESA.png"   alt="Logo" width="20%" height="20%"  class="d-inline-block align-top navbar-brand" /><span class="hidden">EthioStudents Aid</span></a> 
               
            <button
                class="navbar navbar-toggler"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#toggleMobileMenu"
                aria-controls="toggleMobileMenu"
                aria-expanded="false"
                aria-label="Toggle navigation"
                >
            <span class="navbar-toggler-icon"></span>
                </button>
            <div class="collapse navbar-collapse" id="toggleMobileMenu">
                <ul class="navbar-nav ms-auto text-center">
                    <li>
                        <a class="nav-link" th:href="@{/Frontpage}">Home</a>
                    </li>
                    <li>
                        <a class="nav-link" th:href="@{/opportunities}">Opportunities</a>
                    </li>
                    <li>
                        <a class="nav-link" th:href="@{/providehelp}">Provide Help</a>
                    </li>
                    <li>
                        <a class="nav-link" th:href="@{/addForm}">Ask for help</a>
                    </li>
                    <li>
                        <a class="nav-link" th:href="@{/donation}">Support us</a>
                    </li>
                    <li>
                        <a class="nav-link" th:href="@{/AboutUs}">About Us</a>
                    </li>
                    <li>
                        <a class="nav-link" th:href="@{/members}">Members</a>
                    </li>
                    <li>
                        <a class="btn btn-outline-success my-2 my-sm-0" th:href="@{/login}">LOGOUT</a>
                    </li>
                </ul>
            </div>
            </nav>
        </div>
        </h1>
       
        <!-- <div class="p-3 mb-2 bg-info text-white">
            THANKS!!!!
            YOUR QUESTION IS SUSSESSFULLY SENT PLEASE WAIT A MOMENT TILL THE ADMINS PROVIDE YOU THE ANSWER.
            <a th:href="@{/addForm}" class="btn btn-primary mb-20">click to ask more questions</a>

        </div>
                     -->

                     <div th:each="User: ${User} ">
                        <div class="card border-secondary mb-3" style="max-width: 30rem;"></div>
                         <!-- <td th:text = "${AskQ.username}"></td> -->
                         <span>USERNAME:-</span>
                        <span th:text = "${user.username}"></span><br>
                        <span>USERNAME:-</span>
                        <span th:text = "${User.id}"></span><br>
                        <span>FIRSTNAME:-</span>
                        <span th:text = "${User.firstName}"></span><br>
                        <span>LASTNAME:-</span>
                        
                        <span th:text = "${User.lastName}"></span><br>
                        <div class="card border-info mb-3 card-body text-info card-header" style="width: 18rem;">
                        <span class="card-title">  ROLE:-</span><br>
                        <span class="card-text" th:text = "${User.Role}"></span><br>

                        </div>
                   
            <footer class="page-footer bg-dark mt-5">
                <div class="bg-success">
                    <div class="container">
                        <div class="row py-4 d-flex align-items-center">
                            <div class="col-md-12 text-center">
                                <a href="#"><i class="fab fa-facebook-f text-white mr-4" ></i></a>
                                <a href="#"><i class="fab fa-twitter text-white mr-4" ></i></a>
                                <a href="#"><i class="fab fa-linkedin text-white mr-4" ></i></a>
                                <a href="#"><i class="fab fa-github" ></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            <div class="container text-center text-md-left mt-5">
            <div class="row">
            <div class="col-md-3 mx-auto mb-4">
                <h6 class="text-white text-uppercase font-weight-bold">About Us</h6>
                <hr class="bg-success mb-4 mt-0 d-inline-block mx-auto" style="width: 125px;" height="2px">
            <p class="mt-2 text-white">Below Lies Three Of The Things We Strongly Advise Students Of This Time Should Get Involved With.
                Our Belief Is That These Three Aspects, Tend To Improve The Human Mind Get The Better Of Themselves</p>
            </div>
            <div class="col-md-2 mx-auto mb-4">
                <h6 class="text-white text-uppercase font-weight-bold ">Contacts</h6>
                <hr class="bg-success mb-4 mt-0 d-inline-block mx-auto" style="width: 85px;" height="2px">
                
            <ul class="list-unstyled text-white">
                <li class="my-2"><i class="fa fa-home mr-3"></i>AddisAbaba, Ethiopia</li>
                <li class="my-2"><i class="fa fa-envelope mr-3"></i>ESA@gamil.com</li>
                <li class="my-2"><i class="fa fa-phone mr-3"></i>+251973004627</li>
                <li class="my-2"><i class="fa fa-print mr-3"></i>+0114331452</li>
            </ul>
            
            
            </div>
            </div>

        </div>
        <script th:src="@{/js/bootstrap.bundle.min.js}"></script>   

    </body>

</html>
