<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <link th:href="@{/css/style.css}" rel="stylesheet" />
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registration</title>
</head>
<link th:href="@{/css/style.css}" rel="stylesheet" />
<link th:href="@{/css/bootstrap.min.css}" rel="stylesheet" />

<body>
    <div class="bg-image mybackground myback" style="background-image: url(/images/john.jpg); height:100vh;">

        <div class="container mx-auto w-50">

            <h1>Register</h1>
            <form method="POST" th:action="@{/register}" th:object="${user}" id="registerForm">


                <label class="form-label" for="firstName">First name: </label>
                <input class="form-control" type="text" name="firstName" id="firstName" th:class="|form-control ${#fields.hasErrors('firstName')? 'is-invalid': 'is-valid'}|" required/>
                <div class="invalid-feedback" th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}"></div>



                <label class="form-label" for="lastName">Last Name: </label>
                <input class="form-control" type="text" name="lastName" id="lastName" th:class="|form-control ${#fields.hasErrors('lastName')? 'is-invalid': 'is-valid'}|" required/>
                <div class="invalid-feedback" th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}"></div>
                <!--<span class="validationError" th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}">lastName not correct</span> -->

                <label class="form-label" for="username">Username: </label>
                <input class="form-control" type="email" name="username" id="username" th:class="|form-control ${#fields.hasErrors('username')? 'is-invalid': 'is-valid'}|" required/>
                <div th:if="${message} != 'null'" th:text="${message}"></div>
                <div class="invalid-feedback" th:if="${#fields.hasErrors('username')}" th:errors="*{username}"></div>


                <!--<span class="validationError" th:if="${#fields.hasErrors('username')}" th:errors="*{username}">username not correct</span> -->

                <label class="form-label" for="password">Password: </label>
                <input class="form-control" type="password" name="password" id="password" th:class="|form-control ${#fields.hasErrors('password')? 'is-invalid': 'is-valid'}|" required maxlength="10" minlength="5" />
                <div class="invalid-feedback" th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></div>
                <!--<span class="validationError" th:if="${#fields.hasErrors('password')}" th:errors="*{password}">password not correct</span> -->


                <input class="btn btn-primary my-2" type="submit" value="Register">
            </form>

        </div>
    </div>


    <script th:src="@{/js/bootstrap.bundle.min.js} "></script>
</body>

</html>