<!DOCTYPE html>
<html lang="en">
    <head>
        <link th:href="@{/css/style.css}" rel="stylesheet" />
        <html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"></html>
        <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet" />
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Welcome</title>
        <script
        th:src="@{/js/fa.js}"
        data-auto-a11y="true"
      ></script>
      <link rel="stylesheet" th:href="@{/js/fa.css}">
    </head>
<body>
        <div class="container wweww">
            <nav class="navbar navbar-expand-lg navbar-light navigation" >
                <img src="/images/ESA.png"   alt="Logo" width="20%" height="20%"  class="d-inline-block align-top navbar-brand" /><span class="hidden">EthioStudents Aid</span></a> 
               
            <button
                class="navbar navbar-toggler"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#toggleMobileMenu"
                aria-controls="toggleMobileMenu"
                aria-expanded="false"
                aria-label="Toggle navigation"
                >
            <span class="navbar-toggler-icon"></span>
                </button>
            <div class="collapse navbar-collapse" id="toggleMobileMenu">
                <ul class="navbar-nav ms-auto text-center">
                    <li>
                        <a class="nav-link" th:href="@{/Frontpage}">Home</a>
                    </li>
                    <li>
                        <a class="nav-link" th:href="@{/opportunities}">Opportunities</a>
                    </li>
                    <li>
                        <a class="nav-link" th:href="@{/providehelp}">Provide Help</a>
                    </li>
                    <li>
                        <a class="nav-link" th:href="@{/addForm}">Ask for help</a>
                    </li>
                    <li>
                        <a class="nav-link" th:href="@{/donation}">Support us</a>
                    </li>
                    <li>
                        <a class="nav-link" th:href="@{/AboutUs}">About Us</a>
                    </li>
                    <li>
                        <a class="nav-link" th:href="@{/members}">Members</a>
                    </li>
                    <li>
                        <a class="btn btn-outline-success my-2 my-sm-0" th:href="@{/login}">LOGOUT</a>
                    </li>
                </ul>
            </div>
            </nav>
        </div>
    
        <h2>List of Question and Answers</h2>
        <hr>

        <div th:each="AskQ: ${AskQ} ">
            <div class="card border-secondary mb-3 text-right" style="max-width: 30rem;"></div>
             <!-- <td th:text = "${AskQ.username}"></td> -->
             <span>User Name:-</span>
            <span th:text = "${AskQ.username}"></span><br>
            <span>Question Type:-</span>
            <span th:text = "${AskQ.type}"></span><br>
            <span>Question:-</span>
            
            <span th:text = "${AskQ.question}"></span><br>
            <div class="card border-info mb-3 card-body text-info card-header" style="width: 18rem;">
            <span class="card-title">  Answers:-</span><br>
            <span class="card-text" th:text = "${AskQ.answer}"></span><br>
        
    </div>
        </div>
    <footer class="page-footer bg-dark mt-5">
        <div class="bg-success">
            <div class="container">
                <div class="row py-4 d-flex align-items-center">
                    <div class="col-md-12 text-center">
                        <a href="#"><i class="fab fa-facebook-f text-white mr-4" ></i></a>
                        <a href="#"><i class="fab fa-twitter text-white mr-4" ></i></a>
                        <a href="#"><i class="fab fa-linkedin text-white mr-4" ></i></a>
                        <a href="#"><i class="fab fa-github" ></i></a>
                    </div>
                </div>
            </div>
        </div>
    <div class="container text-center text-md-left mt-5">
    <div class="row">
    <div class="col-md-3 mx-auto mb-4">
        <h6 class="text-white text-uppercase font-weight-bold">About Us</h6>
        <hr class="bg-success mb-4 mt-0 d-inline-block mx-auto" style="width: 125px;" height="2px">
    <p class="mt-2 text-white">We are a non-profit and non-governmental organization here solely for the purpose of helping young as well as adult ethiopian students through a means of providing help with answers to different types of questions raised by students. our other purpose here is to help students get informed about different kinds of opportunities that comes their way and make sure that they don't miss it.  </p>
    </div>
    <div class="col-md-2 mx-auto mb-4">
        <h6 class="text-white text-uppercase font-weight-bold ">Contacts</h6>
        <hr class="bg-success mb-4 mt-0 d-inline-block mx-auto" style="width: 85px;" height="2px">
        
    <ul class="list-unstyled text-white">
        <li class="my-2"><i class="fa fa-home mr-3"></i>AddisAbaba, Ethiopia</li>
        <li class="my-2"><i class="fa fa-envelope mr-3"></i>ESA@gamil.com</li>
        <li class="my-2"><i class="fa fa-phone mr-3"></i>+251973004627</li>
        <li class="my-2"><i class="fa fa-print mr-3"></i>+0114331452</li>
    </ul>
    
    
    </div>
    </div>



    </div>
    </footer>
    <script th:src="@{/js/bootstrap.bundle.min.js}"></script>   

</body>
</html>